protected/data/password.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="passwords">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="password" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:string" name="title" minOccurs="0"/>
                    <xs:element type="xs:string" name="username" minOccurs="0"/>
                    <xs:element type="xs:integer" name="type_id" minOccurs="1" maxOccurs="1"/>
                    <xs:element type="xs:integer" name="project_id" minOccurs="1" maxOccurs="1"/>
                </xs:choice>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>